body {
	box-sizing: border-box;
	margin:0;
	background: #ff9966;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-sitio {
	background-color: #03A9F4;
	padding:0 20px;
	/* Flex here*/
	display: flex;
	flex-direction: column;
}

@media screen and (min-width:768px) {
	.header-sitio {
		flex-direction: row;
		justify-content: space-between;
	}
}

.header-sitio h1 {
	color:white;
}

nav {
	/* Flex here*/
	align-self: center;
}

nav a {
	color: white;
	font-family: 'IBM Plex Serif', serif;
	text-decoration: none;
}

.contenedor {
	background-color: white;
	min-height: calc( 100vh - 20px );
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 30px 0 30px;
}

h1, h2 {
	text-align: center;
	font-family: 'IBM Plex Serif', serif;
}

h2 {
  color:white;
}

.contenedor-flex {
	margin-top: 20px;
	/* Flex here*/
	display: flex;
	flex-direction: column;
}

@media screen and (min-width:768px) {
	.contenedor-flex {
		/* Flex here*/
		flex-direction: row;
	}
}

.principal {
	/* Flex here*/
	order: 2;
}

aside {
	/* flex here*/
	margin-bottom: 1rem;
}

aside {
  background-color: #03A9F4;
}

@media screen and (min-width:768px) {
	.principal {
		/* Flex here*/
		flex: 0 1 60%;
		margin-right: 1rem;
		order: unset;
	}
	aside {
		/* Flex here*/
		flex: 1;
	}
}

.servicios {
	/* Flex here*/
}

.servicios .servicio {
	/* Flex here*/
	flex: 1;
}

@media screen and (min-width:768px) {
	.servicios {
		/* Flex here*/
		display: flex;
	}
	.servicios .servicio {
		/* Flex here*/
		flex: 1;
	}
}

.servicio {
	padding: 5px;
	background-color: #E53935;
}


.servicio:nth-child(2) {
	background-color: #8E24AA;
}

.servicio:nth-child(3) {
	background-color: #3F51B5;
}

footer {
	height: 100px;
	background-color: #8E24AA;
	margin-top: 20px;
	/* Flex here*/
	display: flex;
	justify-content: center;
	align-items: center;
}
footer p {
	color: white;
}
